* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --dark-blue: #0a2a4a;
  --light-blue: #4da3ff;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding: 50px 20px;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.inter-title {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.lang {
  cursor: pointer;
  color: var(--dark-blue);
  margin-right: 20px;
}
.header-main {
  position: sticky;
  top: 0;
  z-index: 1000;
}
header {
  background-color: var(--white);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* position: sticky; */
  top: 0;
  height: 13vh;
  z-index: 1000;
}
.header-main {
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;

  background: rgba(255, 255, 255, 0.15); /* shaffof oq */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-radius: 50px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.logo img {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 80px;
  height: 75px;
  cursor: pointer;
  border-radius: 50%;
  font-weight: bold;
  font-size: 20px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}
nav ul li a {
  text-decoration: none;
  color: var(--dark-blue);
  font-weight: 500;
  transition: color 0.3s;
}
nav ul li a:hover {
  color: var(--light-blue);
}
.btn {
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 35px;
  font-weight: bold;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: var(--light-blue);
}
.home {
  background: url('ChatGPT Image 6 февр. 2026 г., 23_30_03.png') no-repeat
    center center/cover;
  color: var(--white);
  height: 100vh;
  padding: 10px 15px;
}

.home h2 {
  margin-bottom: 30px;
}
.card-home {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-title {
  line-height: 1.05;
  margin: 0;
}

.hero-title span {
  font-size: 84px;
  font-weight: 400;
  letter-spacing: 2px;
  display: block;
}

.hero-title strong {
  margin-top: 10px;
  font-size: 76px;
  font-weight: 600;
  letter-spacing: 6px;
  text-transform: uppercase;
  display: block;
}
.home-content p {
  font-size: 23px;
  line-height: 1.9;
  font-weight: 500;
  max-width: 800px;
  margin-top: 20px;
}
.home-btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home-btn i {
  font-size: 24px;
  width: 50px;
  height: 50px;
  padding-top: 13px;
  background: rgba(255, 255, 255, 0.15); /* shaffof oq */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-radius: 50px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}
.home-btn i:hover {
  background: rgba(255, 255, 255, 0.258);
  color: var(--white);
  transition: background-color 0.3s, color 0.3s;
}
.footer {
  background: linear-gradient(135deg, var(--dark-blue), #061c33);
  color: var(--light-blue);
  font-family: Arial, sans-serif;
  margin-top: 87vh;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}
.img2 {
  width: 75px;
  height: 75px;
  cursor: pointer;
  border-radius: 50%;
  font-weight: bold;
  margin-bottom: 15px;
}
.footer h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: var(--white);
}

.footer h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--white);
}

.footer p {
  font-size: 14px;
  line-height: 1.7;
  color: #cfd8e3;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #cfd8e3;
  text-decoration: none;
  transition: 0.3s;
}

.footer ul li a:hover {
  color: var(--light-blue);
  padding-left: 5px;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 15px;
  font-size: 13px;
  color: var(--light-blue);
  background-color: var(--dark-blue);
}

.footer-col {
  margin-left: 130px;
}

.footer-cop {
  margin-left: 110px;
}
